extends ../layout

block content
  .container
    .panel
      .panel-body
        if messages.info
          .alert.alert-info(role='alert')
            for info in messages.info
              div= info.msg

        if messages.error
          .alert.alert-danger(role='alert')
            for error in messages.error
              div= error.msg

        form(method='POST')
          legend #{t('app.account.forgot.legend')}
          .form-group
            p= t('app.account.forgot.description')
            label(for='email') #{t('app.account.forgot.email')}
            input.form-control(type='email', name='email', id='email', placeholder=t('app.account.forgot.email_placeholder'), autofocus=true)
          button.btn.btn-success(type='submit') #{t('app.account.forgot.reset_password')}
