extends ../layout

block content
  .login-container.container
    .panel
      .panel-body
        if messages.error
          .alert.alert-danger(role='alert')
            for error in messages.error
              div= error.msg

        form(method='POST')
          legend #{t('app.account.signup.legend')}
          .form-group
            label(for='name') #{t('app.account.signup.name')}
            input.form-control(type='text', name='name', id='name', placeholder=t('app.account.signup.name_placeholder'), autofocus=true)
          .form-group
            label(for='email') #{t('app.account.signup.email')}
            input.form-control(type='email', name='email', id='email', placeholder=t('app.account.signup.email_placeholder'))
          .form-group
            label(for='password') #{t('app.account.signup.password')}
            input.form-control(type='password', name='password', id='password', placeholder=t('app.account.signup.password_placeholder'))
          .form-group
            small.text-muted #{t('app.account.signup.agree_to_the_terms')}
          button.btn.btn-success(type='submit') #{t('app.account.signup.create_account')}

        .hr-title
          span #{t('app.account.signup.or')}

        .btn-toolbar.text-center
          a.btn.btn-google(href='/auth/google') #{t('app.account.signup.sign_in_with_google')}

    p.text-center #{t('app.account.signup.already_have_account')}&nbsp;
      a(href='/login')
        strong #{t('app.account.signup.login')}
