extends layout

block content
  .container-fluid
    if messages.error
      .alert.alert-danger(role='alert')
        for error in messages.error
          div= error.msg
    if messages.success
      .alert.alert-success(role='alert')
        for success in messages.success
          div= success.msg
    if messages.info
      .alert.alert-info(role='alert')
        for info in messages.info
          div= info.msg

    .row
      .col-xs-12.col-sm-12.col-md-offset-1.col-md-5
        .jumbotron
          img.img-responsive.center-block(src='/assets/image/pillo-logo.png')
          h1.text-center
            | Pillo
            br
            small Simple medication reminder

      .col-xs-12.col-sm-12.col-md-5
        .jumbotron
          if announcements && announcements.danger
            .alert.alert-danger(role='announcement')
              h5 #{announcements.danger}
          .alert.alert-info
            h4.text-center Announcements
            br
            if announcements && announcements.changelog
              ul
                for line in announcements.changelog
                  li
                    strong #{line.date}
                    |  #{line.msg}
