extends layout

block content
  .container
    .panel
      .panel-body
        if messages.success
          .alert.alert-success(role='alert')
            for success in messages.success
              div= success.msg
        if messages.error
          .alert.alert-danger(role='alert')
            for error in messages.error
              div= error.msg

        div.form-horizontal
          legend #{t('app.pills.info.legend')}
          if pills && pills.length
            .table-responsive
              table.table.table-striped
                thead
                  tr
                    th #
                    th #{t('app.pills.info.icon')}
                    th #{t('app.pills.info.title')}
                    th #{t('app.pills.info.description')}
                    th #{t('app.pills.info.time')}
                    th #{t('app.pills.info.methods')}
                tbody
                  for pill, index in pills
                    tr
                      th(scope='row') #{index+1}
                      th: img.img-responsive.img-thumbnail.pill-icon(src= pill.icon)
                      th: a(href='/pill/#{pill.id}') #{pill.title}
                      th #{pill.description}
                      th #{moment(pill.rule.currentDate).fromNow()}
                      th #{pill.methods.map(s => s.split('-').pop()).join(', ')}
          else
            .alert.alert-info(role='note')
              p #{t('app.pills.info.no_pill')}

    .panel
      .panel-body
        form#addPillForm.form-horizontal(method='POST', action='/pill')
          legend #{t('app.pills.new.legend')}
          .form-group
            label.col-sm-3(for='title') #{t('app.pills.new.title')}
            .col-sm-7
              input.form-control(type='text', name='title', id='title')
          .form-group
            label.col-sm-3(for='description') #{t('app.pills.new.description')}
            .col-sm-7
              input.form-control(type='text', name='description', id='description')
          hr
          .form-group
            label.col-sm-3(for='icon') #{t('app.pills.new.icon')}
            .col-sm-7
              select#icon.image-picker(name='icon')
                optgroup(label=t('app.pills.new.tablet'))
                  option(data-img-src='/assets/image/icon/tablet-l-0.png', data-img-alt='Large Tablet #0', value='http://pillo.ir/assets/image/icon/tablet-l-0.png') Large Tablet #0
                  option(data-img-src='/assets/image/icon/tablet-l-1.png', data-img-alt='Large Tablet #1', value='http://pillo.ir/assets/image/icon/tablet-l-1.png') Large Tablet #1
                  option(data-img-src='/assets/image/icon/tablet-l-2.png', data-img-alt='Large Tablet #2', value='http://pillo.ir/assets/image/icon/tablet-l-2.png') Large Tablet #2
                  option(data-img-src='/assets/image/icon/tablet-l-3.png', data-img-alt='Large Tablet #3', value='http://pillo.ir/assets/image/icon/tablet-l-3.png') Large Tablet #3
                  option(data-img-src='/assets/image/icon/tablet-l-4.png', data-img-alt='Large Tablet #4', value='http://pillo.ir/assets/image/icon/tablet-l-4.png') Large Tablet #4
                  //option(data-img-src='/assets/image/icon/tablet-m-0.png', data-img-alt='Medium Tablet #0', value='/assets/image/icon/tablet-m-0.png') Medium Tablet #0
                  //option(data-img-src='/assets/image/icon/tablet-m-1.png', data-img-alt='Medium Tablet #1', value='/assets/image/icon/tablet-m-1.png') Medium Tablet #1
                  //option(data-img-src='/assets/image/icon/tablet-m-2.png', data-img-alt='Medium Tablet #2', value='/assets/image/icon/tablet-m-2.png') Medium Tablet #2
                  //option(data-img-src='/assets/image/icon/tablet-m-3.png', data-img-alt='Medium Tablet #3', value='/assets/image/icon/tablet-m-3.png') Medium Tablet #3
                  //option(data-img-src='/assets/image/icon/tablet-m-4.png', data-img-alt='Medium Tablet #4', value='/assets/image/icon/tablet-m-4.png') Medium Tablet #4
                  //option(data-img-src='/assets/image/icon/tablet-s-0.png', data-img-alt='Small Tablet #0', value='/assets/image/icon/tablet-s-0.png') Small Tablet #0
                  //option(data-img-src='/assets/image/icon/tablet-s-1.png', data-img-alt='Small Tablet #1', value='/assets/image/icon/tablet-s-1.png') Small Tablet #1
                  //option(data-img-src='/assets/image/icon/tablet-s-2.png', data-img-alt='Small Tablet #2', value='/assets/image/icon/tablet-s-2.png') Small Tablet #2
                  //option(data-img-src='/assets/image/icon/tablet-s-3.png', data-img-alt='Small Tablet #3', value='/assets/image/icon/tablet-s-3.png') Small Tablet #3
                  //option(data-img-src='/assets/image/icon/tablet-s-4.png', data-img-alt='Small Tablet #4', value='/assets/image/icon/tablet-s-4.png') Small Tablet #4
                optgroup(label=t('app.pills.new.pill'))
                  option(data-img-src='/assets/image/icon/pill-0.png', data-img-alt='Pill #0', value='http://pillo.ir/assets/image/icon/pill-0.png') Pill #0
                  option(data-img-src='/assets/image/icon/pill-1.png', data-img-alt='Pill #1', value='http://pillo.ir/assets/image/icon/pill-1.png') Pill #1
                  option(data-img-src='/assets/image/icon/pill-2.png', data-img-alt='Pill #2', value='http://pillo.ir/assets/image/icon/pill-2.png') Pill #2
                  option(data-img-src='/assets/image/icon/pill-3.png', data-img-alt='Pill #3', value='http://pillo.ir/assets/image/icon/pill-3.png') Pill #3
                  option(data-img-src='/assets/image/icon/pill-4.png', data-img-alt='Pill #4', value='http://pillo.ir/assets/image/icon/pill-4.png') Pill #4

          hr
          .form-group
            label.col-sm-3  #{t('app.pills.new.reminding_methods')}
            .col-sm-7
              .checkbox
                label
                  input(type='checkbox', name='methods', value='remind-telegram')
                  |  #{t('app.pills.new.telegram')}
              .checkbox
                label
                  input(type='checkbox', name='methods', value='remind-push')
                  |  #{t('app.pills.new.push_notification')}
              .checkbox
                label
                  input(type='checkbox', name='methods', value='remind-sms', disabled)
                  |  #{t('app.pills.new.sms')}
              .checkbox
                label
                  input(type='checkbox', name='methods', value='remind-email', disabled)
                  |  #{t('app.pills.new.email')}
          hr
          p #{t('app.pills.new.first_time_description')}
          .form-group
            label.col-sm-3 #{t('app.pills.new.start_date')}
            .col-sm-7
              input.form-control(type='text', id='startDate')
              input.form-control(type='hidden', id='finalStartDate', name='startDateUTC')
          .form-group
            label.col-sm-3 #{t('app.pills.new.start_time')}
            .col-sm-7
              input.form-control(type='text', id='startTime')
          hr
          p #{t('app.pills.new.next_time_description')}
          .form-group
            label.col-sm-3 #{t('app.pills.new.next_date')}
            .col-sm-7
              input.form-control(type='text', id='nextDate')
              input.form-control(type='hidden', id='finalNextDate', name='nextDateUTC')
          .form-group
            label.col-sm-3 #{t('app.pills.new.next_time')}
            .col-sm-7
              input.form-control(type='text', id='nextTime')
          .form-group
            .col-sm-4.col-sm-offset-3
              button.btn.btn-success(type='button', onclick='calculateUTC()') #{t('app.pills.new.add_pill')}
block scripts
  script(src='/js/lib/image-picker/image-picker.js')
  script(src='/js/lib/pickadate/picker.js')
  script(src='/js/lib/pickadate/picker.date.js')
  script(src='/js/lib/pickadate/picker.time.js')
  script(src='/js/lib/pickadate/legacy.js')
  script.
    $('#startDate').pickadate({
    onSet: function() {
    $('#startTime').click();
    }
    });
    $('#nextDate').pickadate({
    onSet: function() {
    $('#nextTime').click();
    }
    });
    $('#startTime').pickatime();
    $('#nextTime').pickatime();
    $("#icon").imagepicker();
  script.
    var calculateUTC = function() {
    var momentFormat = 'D MMMM, YYYY h:m A';
    var startDateString = $('#startDate').val() + ' ' + $('#startTime').val();
    var nextDateString = $('#nextDate').val() + ' ' + $('#nextTime').val();
    var startUTC = moment(startDateString, momentFormat).utc();
    var nextUTC = moment(nextDateString, momentFormat).utc();
    $('#finalStartDate').val(startUTC.format());
    $('#finalNextDate').val(nextUTC.format());
    $('#addPillForm').submit()
    }
